.new-advert-form, .edit-advert-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

label {
    display: block;
    margin-top: 15px;
}

#new-advert-form-submit-button {
    margin-top: 15px;
}



/* input[type=text], textarea {
    width: 50%;
    padding: 12px;
    resize: vertical;
} */