.new-advert-form, .edit-seller-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

label {
    display: block;
    margin-top: 15px;
    color: rgb(45, 89, 104);
}

#new-advert-form-submit-button {
    margin-top: 15px;
}

input, textarea {
    border: 2px solid rgb(45, 89, 104);
    border-radius: 5px;
}

h3 {
    color: rgb(45, 89, 104);
}

.filter-options {
    display: flex;
    margin-top: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}

#search-seller, #search-category, #search-keyword {
    height: 250px;
    width: 250px;
    margin-left: 10px;
}

.filtered-advert-list {
    text-align: center;
}

#keyword-search input {
    height: 50px;
    width: 300px;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    
}

input {
    height: 50px;
    width: 300px;
    font-size: 25px;
    margin-top: 15px;
    align-items: center;
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
}

button {
    background-color: rgb(45, 89, 104);
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    width: 150px;
    font-size: 15px;
}

select {
    appearance: none;
    width: 175px;
    height: 50px;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}





/* input[type=text], textarea {
    width: 50%;
    padding: 12px;
    resize: vertical;
} */