.new-advert-form, .edit-seller-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

label {
    display: block;
    margin-top: 15px;
    color: rgb(45, 89, 104);
}

#new-advert-form-submit-button {
    margin-top: 15px;
}

input {
    border: 1px solid rgb(45, 89, 104);
    border-radius: 5px;
}

h3 {
    color: rgb(45, 89, 104)
}





/* input[type=text], textarea {
    width: 50%;
    padding: 12px;
    resize: vertical;
} */